body{
    margin: 0px;
    padding: 0px;
}

#navbar {
    background-color: #10243B;
    padding: 0px 0px 10px 0px;
}

#navbarRight, #navbarLeft, #mycchs{
    display: inline;
}

#navbarRight a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 10px;
}

.marist {
    height: 40px;
    /* width: 60px; */
}

#navbarLeft{
    float: right;
}

#navbarLeft a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
}

.mycchs {
    background-color: #005983;
}


#mycchs a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 2px solid white;
}

.search {
    /* width: 40px; */
    height: 30px;
}

